pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
geopandas==1.0.1
shapely==2.1.0
pyproj==3.7.1
folium==0.19.5
matplotlib==3.10.3
seaborn==0.13.2
plotly==6.0.1
sentinelhub==3.11.1
requests==2.32.3
tqdm==4.67.1
xgboost==3.0.0
lightgbm==4.6.0
catboost==1.2.8
torch==2.7.0
torchvision==0.22.0
